
.juego{
    width: 50%;
    border:1px solid black;
    float: left;
    clear: both;

}
 .juego td{
    border:1px solid black;
    height: 150px;
     background-color: black;
     border-radius: 30px;
     width: 200px;
     cursor: pointer;
}
.juego {
    font-size: 30px;
    text-align: center;
    border-radius: 30px;
}

 td:hover{
    background-color: cyan;
}
 .barrios{
     width:45%;
     float: right;

 }
 .barrios img{
     width: 700px;
     height: 500px;
 }
 .barrios p{
     background-color: gold;

 }
.barrios a{
    border: 1px outset #CCC;
    background: #EEE;
    padding: .1em .5em;
    text-decoration: none;
    position: relative;
    top: 70%;
    color: #222;

}
.barrios a:hover{
    background: #CCB;
}
.barrios a:active{
    border: 1px inset #000;
}
@media  screen  and (max-width: 1000px){
    #contenedor {
        background-color: blue;
        overflow: hidden;
        float:none;
        width: 100%;


    }
    #lateral{
        width: 18%;
    }
    .titulo{

        white-space: nowrap;
    }
}



